<table>
  <thead>
    <tr>
      <th>Name</th>
      <th>Email</th>
    </tr>
  </thead>
  <tbody>
      {{#each users}}
    <tr>
      <td>{{name}}</td>
      <td>{{email}}</td>
    </tr>
    {{/each}}
    <tr>
      <td>February</td>
      <td>$80</td>
    </tr>
  </tbody>
</table>